* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 0, 0.5);
}

nav {
    /* background */
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);

    /* position */
    position: fixed;
    text-align: center;
    margin: -2% 0 0 0;
    padding: 3% 0 2% 0;
    /* top right bottom left */
    width: 100%;
}

nav a {
    /* font */
    font-size: 150%;
    text-decoration: none;

    /* space */
    margin: 0 2% 0 2%;
}

section {
    padding: 6% 0 0 0;
}

section h1 {
    font-size: 300%;
    text-align: center;
    width: 100%;
}

section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#about img.portrait {
    /* size */
    border-radius: 50%;
    height: 33%;
    width: 33%;

    /* position */
    justify-items: flex-start;
    align-items: flex-start;
}

section#about span {
    color: yellow;
}

section#skills .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#skills .card {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 0 1% 0 1%;
}

section#skills .card img {
    width: 48px;
    height: 48px;
}

section#contact form {
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10% 0;
}

section#contact footer {
    /* background */
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    /* position */
    padding: 1% 0 1% 0;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
}


section#contact a {
    color: yellow;
}